*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
}
body
{
    background-color: black;
}

.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.controls
{
    display: flex;
    justify-content: center;
    color: white;
    padding: 3px;
}

.slider
{
    width: 25%;
}

.upload
{
    width: 25%;
}

.colour
{
    width: 25%;
}

#monoButton
{
    width: 75%;
    padding: 1px 2px 1px 2px;
}